
.tmp-admin-user-existing-table {

	.widefat td.check-column,
	.widefat th.check-column {
		width: 12px;
	}

	tr td.column-status {
		//font-style: italic;
	}

	.tmp-admin-user-view-label {
		margin-right: 10px;
	}

	.column-actions {
		text-align: left;
	}

	.tmp-admin-user-link {
		display: inline-block;
		vertical-align: middle;
		width: 32px;

		&.tmp-admin-user-action-promote { color: #ffc719; }
		&.tmp-admin-user-action-restrict { color: #565656; }
		&.tmp-admin-user-action-delete { color: #cc0000; }
		&.tmp-admin-user-view-profile { color: #6d1530; }
		&.tmp-admin-user-view-email { color: #153e6d; }

		&.tmp-admin-user-disabled { opacity: 0.65; }

	}

}


@media only screen and (max-width: 782px) {

}


@media only screen and (max-width: 600px) {

}

